html, body {
    background-image: url('http://livelyhope.co/img/63dfa4e72e2ad9a881418e74107814fa.jpg');
    height: 100%;
    margin: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
}
#main{
    text-align: center;
    
}
.dealers-cards{
    position: absolute;
    top: 10em;
    left: 40%;
}
#title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 5em
}
.cards{
    position: absolute;
    bottom: 10px;
    left: 40%;
}
.card-imgs{
    height: 150px; 
    width: 100px;
}
.main-deck{
    position: absolute;
    top: 15em;
    left: 20px;
}
.game-btns{
    position: fixed;
    right: 5em;
    bottom: 5em;
}
.start{
    position: absolute;
    right: 5em;
    top: 2em
}
.stop{
    position: absolute;
    right: 5em;
    top: 6em

}
.dealer-total{
    position: absolute;
    left: 5em;
    top: 7em;
}
.total{
    position: absolute;
    left: 5em;
    bottom: 4em;
}
#total-title{
    font-weight: bold;
    color: white;
}
.total-display{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(228, 209, 209);
    padding: .5em;
}
.dice{
    position: absolute;
    right: 5em;
    bottom: 20em;
}