html, body {
 
    
    background-image: url('http://livelyhope.co/img/63dfa4e72e2ad9a881418e74107814fa.jpg');
    height: 100%;
    margin: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
}



#main{
  
    
    text-align: center;
}
.dealers-cards{
    position: absolute;
    transition: all .25s ease-in-out;
    top: 15em;
    left: 45%;
}
.dealers-cards:hover { transform: scale(1.5); }
#title{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(131, 52, 52);
    font-weight: bolder;
    text-decoration-color: black; 
    font-size: 8em;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.cards{
    position: absolute;
    transition: all .25s ease-in-out;
    bottom: 40px;
    left: 45%;
}
.cards:hover { transform: scale(1.5); }
.card-imgs{
    height: 150px; 
    width: 100px;
}
.main-deck{
    position: absolute;
    top: 25em;
    left: 20px;
}
.game-btns{
    position: fixed;
    transition: all .25s ease-in-out;
    right: 5em;
    bottom: 5em;
}
.game-btns:hover { transform: scale(1.5); }
.start{
    position: absolute;
    right: 5em;
    top: 2em;
    transition: all .25s ease-in-out;
}
.start:hover { transform: scale(1.5); }
.quit{
    position: absolute;
    right: 5em;
    top: 6em;
    transition: all .25s ease-in-out;

}
.quit:hover { transform: scale(1.5); }
.dealer-total{
    position: absolute;
    left: 5em;
    top: 7em;
}
.total{
    position: absolute;
    left: 5em;
    bottom: 4em;
}
#total-title{
    font-weight: bold;
    color: white;
}
.total-display{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(228, 209, 209);
    padding: .5em;
}
.dice{
    position: absolute;
    right: 5em;
    bottom: 23em;
}
.win-banner{
    position: relative;
    top:40%;
    left:3em;
    
}
#winner{
    font-family: cursive;
    font-weight: 900;
    font-size: 5em;
    color: rgb(187, 3, 3);
}
.pregame{
    position: absolute;
    top:40%;
    right: 35%;
}
.dealer-title{
    font-size: 2.5em;
}